# Database
DB_URL=jdbc:{{DB_DIALECT_KEY}}://localhost:5432/{{DB_NAME}}
FLYWAY_URL=jdbc:{{DB_DIALECT_KEY}}://localhost:5432/{{DB_NAME}}
DB_USERNAME=postgres
DB_PASSWORD=dev123

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=dev123

# Kafka
KAFKA_SERVERS=localhost:9094

# Nacos
NACOS_ADDR=localhost:8848
NACOS_USERNAME=nacos
NACOS_PASSWORD=nacos

# XXL-JOB
XXL_JOB_ADMIN_ADDRESSES=http://localhost:8088/xxl-job-admin
XXL_JOB_ACCESS_TOKEN=dev123
